################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Servidor-web-en-Node.js/FileContentIndex/f3e2183b-ec2b-4e52-9922-c261d5126445.vsidx
/.vs/Servidor-web-en-Node.js/FileContentIndex/6c1df352-3e6d-4306-a654-f9e2dd22b100.vsidx
/.vs/Servidor-web-en-Node.js/FileContentIndex/58ae584a-eaa8-4f3c-8a0b-2f8df4dcf76b.vsidx
/.vs/Servidor-web-en-Node.js/FileContentIndex
